.logo {
    padding: 0.5em 0.5em 0.5em;
}

.branding {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.container-nav {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgb(53, 22, 0), rgb(87, 37, 2));
    width: 100%;
    left: 0;
    top: 0;

}

.Categories {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Option {
    text-decoration: none;
    background: transparent;
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #ffccd2;

}
.Categories {
    text-decoration: none;
}

.ActiveOption {
    text-decoration: none;
    border-radius: 25;
    margin: 0 50px;
    width: auto;
    background: beige;
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}
